.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	min-width: 320px;
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: $black;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}

nav, article, p, span, h1, h2, h3, h4, h5, h6, label, input, textarea {
	margin: 0;
	padding: 0;
}

select, button, input {
	outline: none;
	&:focus {
		outline: none;
	}
}

.before, .after {
	position: absolute;
	content: '';
}

.active-yellow {
	color: $yellow !important;
}

.active-border-yellow {
	border-color: $yellow !important;
}

.menu-active {
	background-color: $yellow;
}

.color-select-active {
	transform: scale(.8);
	opacity: 1 !important;
	box-shadow: none !important;
}

.account-menu-active {
	background-color: $green-light;
	color: $black !important;
}

.section-padding {
	padding: 20px 0;
}

.item-shadow {
	transition: $transition;
	&:hover {
		box-shadow: $shadow;
	}
}

.item-border {
	border: $border;
}

.page-title {
	padding: 30px 0 10px;
	h2 {
		font-weight: 700;
		font-size: 30px;
	}
}

.section-title {
	text-align: center;
	margin-bottom: 35px;
	h2, h3 {
		display: inline-block;
		font-weight: bold;
		font-size: 25px;
		letter-spacing: .02em;
		text-transform: uppercase;
		margin: 0 10px;
	}
	h3 {
		font-size: 18px;
	}
}

.block-title {
	text-align: center;
	h3 {
		color: $yellow;
		font-weight: 700;
		font-size: 25px;
	}
	h4 {
		color: $yellow;
		font-weight: 700;
		font-size: 18px;
		text-align: left;
	}
}

.sell-auto {
	@include buttons($yellow, '', 16px, 35px);
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 20px;
	span {
		font-size: 13px;
	}
	&:hover {
		@include buttons-hover($green, 35px);
	}
}

.lines-left { 
	display: inline-block;
	position: relative;
	top: -6px;
	height: 2px;
	width: 19px;
	background-color: $text-grey-light;
	&::before {
		@extend .before;
		height: 2px;
		width: 11px;
		background-color: $text-grey-light;
		top: -4px;
		right: 0;
	}
	&::after {
		@extend .after;
		height: 2px;
		width: 11px;
		background-color: $text-grey-light;
		top: 4px;
		right: 0;
	}
}

.lines-right {
	@extend .lines-left;
	transform: rotate(180deg);
}

//Popup Form
.white-popup {
	position: relative;
	background: #FFF;
	padding: 40px 20px 30px;
	width: auto;
	max-width: 730px;
	margin: 20px auto;
}


.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

//Sprites
.icon {
	display: inline-block;
}

.icon-odo {
	@include sprite($odo);
}
.icon-fuel {
	@include sprite($fuel);
}
.icon-motor {
	@include sprite($motor);
}
.icon-geo {
	@include sprite($geo);
}
.icon-tel {
	@include sprite($tel);
}
.icon-fb {
	@include sprite($fb);
}
.icon-vk {
	@include sprite($vk);
}
.icon-yt {
	@include sprite($yt);
}
.icon-inst {
	@include sprite($inst);
}
.icon-tw {
	@include sprite($tw);
}
.icon-exchange {
	@include sprite($exchange);
}
.icon-exchange-sm {
	@include sprite($exchange-sm);
}
.icon-money {
	@include sprite($money);
}
.icon-timer {
	@include sprite($timer);
}
.icon-timer-green {
	@include sprite($timer-green);
}
.icon-arrow-right {
	@include sprite($arrow-right);
}
.icon-photo {
	@include sprite($photo);
}
.icon-mail {
	@include sprite($mail);
}
.icon-mail-white {
	@include sprite($mail-white);
}
.icon-eye {
	@include sprite($eye);
}
.icon-eye-green {
	@include sprite($eye-green);
}
.icon-photo-yellow {
	@include sprite($photo-yellow);
}
.icon-clock {
	@include sprite($clock);
}
.icon-exit {
	@include sprite($exit);
}
.icon-geo-grey {
	@include sprite($geo-grey);
}
.icon-tel-grey {
	@include sprite($tel-grey);
}
.icon-mail-grey {
	@include sprite($mail-grey);
}
.icon-www-grey {
	@include sprite($www-grey);
}
.icon-car-grey {
	@include sprite($car-grey);
}
.icon-arrow-left-grey {
	@include sprite($arrow-left-grey);
}
//End Sprites