@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.ttf');
}

// Icon Transport (Catalog extended)
@font-face {
  font-family: 'icomoon-car-icons';
  src:  url('../fonts/icomoon-car-icons.eot?legt6o');
  src:  url('../fonts/icomoon-car-icons.eot?legt6o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-car-icons.ttf?legt6o') format('truetype'),
    url('../fonts/icomoon-car-icons.woff?legt6o') format('woff'),
    url('../fonts/icomoon-car-icons.svg?legt6o#icomoon-car-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-car-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tb-1:before {
  content: "\e900";
}
.icon-tb-2:before {
  content: "\e901";
}
.icon-tb-3:before {
  content: "\e902";
}
.icon-tb-4:before {
  content: "\e903";
}
.icon-tb-5:before {
  content: "\e904";
}
.icon-tb-6:before {
  content: "\e905";
}
.icon-tb-7:before {
  content: "\e906";
}
.icon-tb-8:before {
  content: "\e907";
}
.icon-tb-9:before {
  content: "\e908";
}
.icon-tb-10:before {
  content: "\e909";
}
.icon-tb-11:before {
  content: "\e90a";
}
.icon-tt-1:before {
  content: "\e90b";
}
.icon-tt-2:before {
  content: "\e90c";
}
.icon-tt-3:before {
  content: "\e90d";
}
.icon-tt-4:before {
  content: "\e90e";
}
.icon-tt-5:before {
  content: "\e90f";
}
.icon-tt-6:before {
  content: "\e910";
}
.icon-tt-7:before {
  content: "\e911";
}
.icon-tt-8:before {
  content: "\e912";
}
.icon-tt-9:before {
  content: "\e913";
}
