@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.ttf');
}

// Icons
@font-face {
  font-family: 'icomoon-icons';
  src:  url('../fonts/icomoon-icons.eot?7dihyu');
  src:  url('../fonts/icomoon-icons.eot?7dihyu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-icons.ttf?7dihyu') format('truetype'),
    url('../fonts/icomoon-icons.woff?7dihyu') format('woff'),
    url('../fonts/icomoon-icons.svg?7dihyu#icomoon-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acc-1:before {
  content: "\e914";
}
.icon-acc-2:before {
  content: "\e915";
}
.icon-acc-3:before {
  content: "\e916";
}
.icon-acc-4:before {
  content: "\e917";
}
.icon-acc-5:before {
  content: "\e918";
}
.icon-acc-6:before {
  content: "\e919";
}
.icon-tb-1:before {
  content: "\e900";
}
.icon-tb-2:before {
  content: "\e901";
}
.icon-tb-3:before {
  content: "\e902";
}
.icon-tb-4:before {
  content: "\e903";
}
.icon-tb-5:before {
  content: "\e904";
}
.icon-tb-6:before {
  content: "\e905";
}
.icon-tb-7:before {
  content: "\e906";
}
.icon-tb-8:before {
  content: "\e907";
}
.icon-tb-9:before {
  content: "\e908";
}
.icon-tb-10:before {
  content: "\e909";
}
.icon-tb-11:before {
  content: "\e90a";
}
.icon-tt-1:before {
  content: "\e90b";
}
.icon-tt-2:before {
  content: "\e90c";
}
.icon-tt-3:before {
  content: "\e90d";
}
.icon-tt-4:before {
  content: "\e90e";
}
.icon-tt-5:before {
  content: "\e90f";
}
.icon-tt-6:before {
  content: "\e910";
}
.icon-tt-7:before {
  content: "\e911";
}
.icon-tt-8:before {
  content: "\e912";
}
.icon-tt-9:before {
  content: "\e913";
}
