/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    .menu {
        li a {
            padding: 0 15px;
        }
    }

    .common-filter {
        & > span {
            font-size: 18px;
            //margin-left: 120px;
            margin-left: 0;
            padding-top: 10px;
        }
    }

    .auction {
        li {
            margin-right: 20px;
        }
    }

    .search-result {
        & > li {
            float: none !important;
            width: auto;
            display: block;
        }
    }


}

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

        .menu {
            li a {
                letter-spacing: normal;
                font-size: 14px;
                padding: 0 10px;
            }
        }

        .common-filter {
            & > span {
                font-size: 18px;
            //margin-left: 95px;
            margin-left: 0;
            padding-top: 10px;
        }
    }

    .lines-left, .lines-right {
        display: none;
    }

    .advert-catalog {
        .advert-photo {
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .advert-details {
            float: none;
            width: 100%;
            h5 {
                span:last-child {
                    display: none;
                }
            }
            p {
                width: 100%;
            }
        }
        .characteristic {
            li:last-child {
                float: left;
            }
        }
    }

    .auction {
        li {
            margin-bottom: 10px;
        }
    }


}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        .logo {
            margin-bottom: 20px;
        }

        .header-top-info-line-3 {
            display: none;
        }

        .menu {
            display: none;
            position: absolute;
            z-index: 100;
            top: 47px;
            left: 0;
            right: 0;
            li {
                float: none;
                background-color: $green;
                border-left: none;
                border-bottom: 1px solid lighten($green, 5%);
                a {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }

        .mob-menu-btn {
            display: block;
        }

        .common-filter  {
            width: 250px;
            margin: 0 auto;
            .nice-select {
                float: none;
            }
        }

        .search-extend-btn {
            text-align: center;
        }

        .search-btn {
            text-align: center;
            margin-top: 25px;
        }

        .footer-nav {
            margin-bottom: 25px;
            li {
                text-align: center;
            }
        }

        .socials {
            float: none;
            text-align: center;
            margin: 25px 0;
        }

        .footer-logo {
            text-align: center;
        }

        .advert {
            max-width: 495px;
        }

        .advert-photo {
            float: left;
            width: 200px;
        }

        .advert-details {
            float: right;
        }

        .offcanvas-close {
            display: inline-block;
        }

        
        .navbar-offcanvas {
            padding-top: 15px;
        }

        .search-result {
            display: none;
            margin-top: 10px;
            & > li {
                font-size: 14px;
            }
        }

        .search-result-box  {
            margin-top: 10px;
            h5 {
                margin-bottom: 0;
            }
        }

        

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

        .logo {
            img {
                max-width: 150%;
            }
        }

        .car-condition ul li:last-child {
            margin-left: 7px;
        }

        .copyright {
            text-align: center;
            p, a {
                float: none;
            }
        }

        .scrollToTop {
            display: none !important;
        }

        .advert {
            max-width: 100%;
            padding-top: 20px;
        }

        .advert-photo {
            float: none;
            width: 100%;
            border-bottom: none;
            img {
                margin: 0 auto;
            }
        }

        .advert-details {
            float: none;
        }

        .header-top-info-line-1 {
            text-align: right;
            & > a:first-child {
                display: none;
            }
            & > span:nth-child(2) {
                display: none;
            }
        }

        .header-top-info-line-2 {
            a {
                span {
                    display: none;
                }
                &:last-child {
                    padding: 0 10px;
                }
            }
        }

        .lang {
            float: right;
        }

        .auction {
            display: none;
        }

        .advert-contact {
            span {
                float: none;
                display: block;
                margin: 0;
            }
            a {
                float: none;
                margin: 0;
            }
        }

        .advert-catalog .advert-photo {
            float: none;
            width: 60%;
            margin: 0 auto;
        }

        .timer {
            top: auto;
            bottom: 3px;
        }

        .advert-catalog .advert-details {
            h5 {
                margin: 5px 0;
            }
            p {
                margin: 0;
            }
        }

        .advert-catalog .advert-details {
            h6 {
                text-align: center;
                max-width: 100%;
            }
            h5 {
                text-align: center;
            }
        }

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }