// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-right-name: 'arrow-right';
$arrow-right-x: 54px;
$arrow-right-y: 60px;
$arrow-right-offset-x: -54px;
$arrow-right-offset-y: -60px;
$arrow-right-width: 22px;
$arrow-right-height: 7px;
$arrow-right-total-width: 105px;
$arrow-right-total-height: 94px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (54px, 60px, -54px, -60px, 22px, 7px, 105px, 94px, '../images/sprite.png', 'arrow-right', );
$exchange-name: 'exchange';
$exchange-x: 60px;
$exchange-y: 30px;
$exchange-offset-x: -60px;
$exchange-offset-y: -30px;
$exchange-width: 24px;
$exchange-height: 24px;
$exchange-total-width: 105px;
$exchange-total-height: 94px;
$exchange-image: '../images/sprite.png';
$exchange: (60px, 30px, -60px, -30px, 24px, 24px, 105px, 94px, '../images/sprite.png', 'exchange', );
$fb-name: 'fb';
$fb-x: 30px;
$fb-y: 0px;
$fb-offset-x: -30px;
$fb-offset-y: 0px;
$fb-width: 30px;
$fb-height: 30px;
$fb-total-width: 105px;
$fb-total-height: 94px;
$fb-image: '../images/sprite.png';
$fb: (30px, 0px, -30px, 0px, 30px, 30px, 105px, 94px, '../images/sprite.png', 'fb', );
$fuel-name: 'fuel';
$fuel-x: 0px;
$fuel-y: 60px;
$fuel-offset-x: 0px;
$fuel-offset-y: -60px;
$fuel-width: 18px;
$fuel-height: 18px;
$fuel-total-width: 105px;
$fuel-total-height: 94px;
$fuel-image: '../images/sprite.png';
$fuel: (0px, 60px, 0px, -60px, 18px, 18px, 105px, 94px, '../images/sprite.png', 'fuel', );
$geo-name: 'geo';
$geo-x: 90px;
$geo-y: 20px;
$geo-offset-x: -90px;
$geo-offset-y: -20px;
$geo-width: 14px;
$geo-height: 18px;
$geo-total-width: 105px;
$geo-total-height: 94px;
$geo-image: '../images/sprite.png';
$geo: (90px, 20px, -90px, -20px, 14px, 18px, 105px, 94px, '../images/sprite.png', 'geo', );
$inst-name: 'inst';
$inst-x: 0px;
$inst-y: 30px;
$inst-offset-x: 0px;
$inst-offset-y: -30px;
$inst-width: 30px;
$inst-height: 30px;
$inst-total-width: 105px;
$inst-total-height: 94px;
$inst-image: '../images/sprite.png';
$inst: (0px, 30px, 0px, -30px, 30px, 30px, 105px, 94px, '../images/sprite.png', 'inst', );
$money-name: 'money';
$money-x: 90px;
$money-y: 0px;
$money-offset-x: -90px;
$money-offset-y: 0px;
$money-width: 15px;
$money-height: 20px;
$money-total-width: 105px;
$money-total-height: 94px;
$money-image: '../images/sprite.png';
$money: (90px, 0px, -90px, 0px, 15px, 20px, 105px, 94px, '../images/sprite.png', 'money', );
$motor-name: 'motor';
$motor-x: 36px;
$motor-y: 60px;
$motor-offset-x: -36px;
$motor-offset-y: -60px;
$motor-width: 18px;
$motor-height: 14px;
$motor-total-width: 105px;
$motor-total-height: 94px;
$motor-image: '../images/sprite.png';
$motor: (36px, 60px, -36px, -60px, 18px, 14px, 105px, 94px, '../images/sprite.png', 'motor', );
$odo-name: 'odo';
$odo-x: 18px;
$odo-y: 60px;
$odo-offset-x: -18px;
$odo-offset-y: -60px;
$odo-width: 18px;
$odo-height: 15px;
$odo-total-width: 105px;
$odo-total-height: 94px;
$odo-image: '../images/sprite.png';
$odo: (18px, 60px, -18px, -60px, 18px, 15px, 105px, 94px, '../images/sprite.png', 'odo', );
$tel-name: 'tel';
$tel-x: 90px;
$tel-y: 38px;
$tel-offset-x: -90px;
$tel-offset-y: -38px;
$tel-width: 14px;
$tel-height: 14px;
$tel-total-width: 105px;
$tel-total-height: 94px;
$tel-image: '../images/sprite.png';
$tel: (90px, 38px, -90px, -38px, 14px, 14px, 105px, 94px, '../images/sprite.png', 'tel', );
$timer-name: 'timer';
$timer-x: 0px;
$timer-y: 78px;
$timer-offset-x: 0px;
$timer-offset-y: -78px;
$timer-width: 16px;
$timer-height: 16px;
$timer-total-width: 105px;
$timer-total-height: 94px;
$timer-image: '../images/sprite.png';
$timer: (0px, 78px, 0px, -78px, 16px, 16px, 105px, 94px, '../images/sprite.png', 'timer', );
$tw-name: 'tw';
$tw-x: 60px;
$tw-y: 0px;
$tw-offset-x: -60px;
$tw-offset-y: 0px;
$tw-width: 30px;
$tw-height: 30px;
$tw-total-width: 105px;
$tw-total-height: 94px;
$tw-image: '../images/sprite.png';
$tw: (60px, 0px, -60px, 0px, 30px, 30px, 105px, 94px, '../images/sprite.png', 'tw', );
$vk-name: 'vk';
$vk-x: 30px;
$vk-y: 30px;
$vk-offset-x: -30px;
$vk-offset-y: -30px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 105px;
$vk-total-height: 94px;
$vk-image: '../images/sprite.png';
$vk: (30px, 30px, -30px, -30px, 30px, 30px, 105px, 94px, '../images/sprite.png', 'vk', );
$yt-name: 'yt';
$yt-x: 0px;
$yt-y: 0px;
$yt-offset-x: 0px;
$yt-offset-y: 0px;
$yt-width: 30px;
$yt-height: 30px;
$yt-total-width: 105px;
$yt-total-height: 94px;
$yt-image: '../images/sprite.png';
$yt: (0px, 0px, 0px, 0px, 30px, 30px, 105px, 94px, '../images/sprite.png', 'yt', );
$spritesheet-width: 105px;
$spritesheet-height: 94px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-right, $exchange, $fb, $fuel, $geo, $inst, $money, $motor, $odo, $tel, $timer, $tw, $vk, $yt, );
$spritesheet: (105px, 94px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
