// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-grey-name: 'arrow-left-grey';
$arrow-left-grey-x: 0px;
$arrow-left-grey-y: 113px;
$arrow-left-grey-offset-x: 0px;
$arrow-left-grey-offset-y: -113px;
$arrow-left-grey-width: 16px;
$arrow-left-grey-height: 8px;
$arrow-left-grey-total-width: 122px;
$arrow-left-grey-total-height: 121px;
$arrow-left-grey-image: '../images/sprite.png';
$arrow-left-grey: (0px, 113px, 0px, -113px, 16px, 8px, 122px, 121px, '../images/sprite.png', 'arrow-left-grey', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 106px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -106px;
$arrow-right-width: 22px;
$arrow-right-height: 7px;
$arrow-right-total-width: 122px;
$arrow-right-total-height: 121px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (0px, 106px, 0px, -106px, 22px, 7px, 122px, 121px, '../images/sprite.png', 'arrow-right', );
$car-grey-name: 'car-grey';
$car-grey-x: 70px;
$car-grey-y: 74px;
$car-grey-offset-x: -70px;
$car-grey-offset-y: -74px;
$car-grey-width: 18px;
$car-grey-height: 12px;
$car-grey-total-width: 122px;
$car-grey-total-height: 121px;
$car-grey-image: '../images/sprite.png';
$car-grey: (70px, 74px, -70px, -74px, 18px, 12px, 122px, 121px, '../images/sprite.png', 'car-grey', );
$clock-name: 'clock';
$clock-x: 48px;
$clock-y: 90px;
$clock-offset-x: -48px;
$clock-offset-y: -90px;
$clock-width: 16px;
$clock-height: 16px;
$clock-total-width: 122px;
$clock-total-height: 121px;
$clock-image: '../images/sprite.png';
$clock: (48px, 90px, -48px, -90px, 16px, 16px, 122px, 121px, '../images/sprite.png', 'clock', );
$date-green-name: 'date-green';
$date-green-x: 108px;
$date-green-y: 32px;
$date-green-offset-x: -108px;
$date-green-offset-y: -32px;
$date-green-width: 13px;
$date-green-height: 14px;
$date-green-total-width: 122px;
$date-green-total-height: 121px;
$date-green-image: '../images/sprite.png';
$date-green: (108px, 32px, -108px, -32px, 13px, 14px, 122px, 121px, '../images/sprite.png', 'date-green', );
$exchange-sm-name: 'exchange-sm';
$exchange-sm-x: 55px;
$exchange-sm-y: 74px;
$exchange-sm-offset-x: -55px;
$exchange-sm-offset-y: -74px;
$exchange-sm-width: 15px;
$exchange-sm-height: 15px;
$exchange-sm-total-width: 122px;
$exchange-sm-total-height: 121px;
$exchange-sm-image: '../images/sprite.png';
$exchange-sm: (55px, 74px, -55px, -74px, 15px, 15px, 122px, 121px, '../images/sprite.png', 'exchange-sm', );
$exchange-name: 'exchange';
$exchange-x: 60px;
$exchange-y: 30px;
$exchange-offset-x: -60px;
$exchange-offset-y: -30px;
$exchange-width: 24px;
$exchange-height: 24px;
$exchange-total-width: 122px;
$exchange-total-height: 121px;
$exchange-image: '../images/sprite.png';
$exchange: (60px, 30px, -60px, -30px, 24px, 24px, 122px, 121px, '../images/sprite.png', 'exchange', );
$exit-name: 'exit';
$exit-x: 16px;
$exit-y: 90px;
$exit-offset-x: -16px;
$exit-offset-y: -90px;
$exit-width: 16px;
$exit-height: 16px;
$exit-total-width: 122px;
$exit-total-height: 121px;
$exit-image: '../images/sprite.png';
$exit: (16px, 90px, -16px, -90px, 16px, 16px, 122px, 121px, '../images/sprite.png', 'exit', );
$eye-green-name: 'eye-green';
$eye-green-x: 0px;
$eye-green-y: 60px;
$eye-green-offset-x: 0px;
$eye-green-offset-y: -60px;
$eye-green-width: 24px;
$eye-green-height: 14px;
$eye-green-total-width: 122px;
$eye-green-total-height: 121px;
$eye-green-image: '../images/sprite.png';
$eye-green: (0px, 60px, 0px, -60px, 24px, 14px, 122px, 121px, '../images/sprite.png', 'eye-green', );
$eye-name: 'eye';
$eye-x: 60px;
$eye-y: 60px;
$eye-offset-x: -60px;
$eye-offset-y: -60px;
$eye-width: 18px;
$eye-height: 12px;
$eye-total-width: 122px;
$eye-total-height: 121px;
$eye-image: '../images/sprite.png';
$eye: (60px, 60px, -60px, -60px, 18px, 12px, 122px, 121px, '../images/sprite.png', 'eye', );
$fb-name: 'fb';
$fb-x: 60px;
$fb-y: 0px;
$fb-offset-x: -60px;
$fb-offset-y: 0px;
$fb-width: 30px;
$fb-height: 30px;
$fb-total-width: 122px;
$fb-total-height: 121px;
$fb-image: '../images/sprite.png';
$fb: (60px, 0px, -60px, 0px, 30px, 30px, 122px, 121px, '../images/sprite.png', 'fb', );
$fuel-name: 'fuel';
$fuel-x: 90px;
$fuel-y: 0px;
$fuel-offset-x: -90px;
$fuel-offset-y: 0px;
$fuel-width: 18px;
$fuel-height: 18px;
$fuel-total-width: 122px;
$fuel-total-height: 121px;
$fuel-image: '../images/sprite.png';
$fuel: (90px, 0px, -90px, 0px, 18px, 18px, 122px, 121px, '../images/sprite.png', 'fuel', );
$geo-grey-name: 'geo-grey';
$geo-grey-x: 90px;
$geo-grey-y: 54px;
$geo-grey-offset-x: -90px;
$geo-grey-offset-y: -54px;
$geo-grey-width: 18px;
$geo-grey-height: 16px;
$geo-grey-total-width: 122px;
$geo-grey-total-height: 121px;
$geo-grey-image: '../images/sprite.png';
$geo-grey: (90px, 54px, -90px, -54px, 18px, 16px, 122px, 121px, '../images/sprite.png', 'geo-grey', );
$geo-name: 'geo';
$geo-x: 108px;
$geo-y: 0px;
$geo-offset-x: -108px;
$geo-offset-y: 0px;
$geo-width: 14px;
$geo-height: 18px;
$geo-total-width: 122px;
$geo-total-height: 121px;
$geo-image: '../images/sprite.png';
$geo: (108px, 0px, -108px, 0px, 14px, 18px, 122px, 121px, '../images/sprite.png', 'geo', );
$inst-name: 'inst';
$inst-x: 30px;
$inst-y: 30px;
$inst-offset-x: -30px;
$inst-offset-y: -30px;
$inst-width: 30px;
$inst-height: 30px;
$inst-total-width: 122px;
$inst-total-height: 121px;
$inst-image: '../images/sprite.png';
$inst: (30px, 30px, -30px, -30px, 30px, 30px, 122px, 121px, '../images/sprite.png', 'inst', );
$mail-green-name: 'mail-green';
$mail-green-x: 108px;
$mail-green-y: 57px;
$mail-green-offset-x: -108px;
$mail-green-offset-y: -57px;
$mail-green-width: 14px;
$mail-green-height: 11px;
$mail-green-total-width: 122px;
$mail-green-total-height: 121px;
$mail-green-image: '../images/sprite.png';
$mail-green: (108px, 57px, -108px, -57px, 14px, 11px, 122px, 121px, '../images/sprite.png', 'mail-green', );
$mail-grey-name: 'mail-grey';
$mail-grey-x: 42px;
$mail-grey-y: 60px;
$mail-grey-offset-x: -42px;
$mail-grey-offset-y: -60px;
$mail-grey-width: 18px;
$mail-grey-height: 13px;
$mail-grey-total-width: 122px;
$mail-grey-total-height: 121px;
$mail-grey-image: '../images/sprite.png';
$mail-grey: (42px, 60px, -42px, -60px, 18px, 13px, 122px, 121px, '../images/sprite.png', 'mail-grey', );
$mail-white-name: 'mail-white';
$mail-white-x: 0px;
$mail-white-y: 74px;
$mail-white-offset-x: 0px;
$mail-white-offset-y: -74px;
$mail-white-width: 19px;
$mail-white-height: 16px;
$mail-white-total-width: 122px;
$mail-white-total-height: 121px;
$mail-white-image: '../images/sprite.png';
$mail-white: (0px, 74px, 0px, -74px, 19px, 16px, 122px, 121px, '../images/sprite.png', 'mail-white', );
$mail-name: 'mail';
$mail-x: 108px;
$mail-y: 46px;
$mail-offset-x: -108px;
$mail-offset-y: -46px;
$mail-width: 14px;
$mail-height: 11px;
$mail-total-width: 122px;
$mail-total-height: 121px;
$mail-image: '../images/sprite.png';
$mail: (108px, 46px, -108px, -46px, 14px, 11px, 122px, 121px, '../images/sprite.png', 'mail', );
$money-name: 'money';
$money-x: 90px;
$money-y: 18px;
$money-offset-x: -90px;
$money-offset-y: -18px;
$money-width: 15px;
$money-height: 20px;
$money-total-width: 122px;
$money-total-height: 121px;
$money-image: '../images/sprite.png';
$money: (90px, 18px, -90px, -18px, 15px, 20px, 122px, 121px, '../images/sprite.png', 'money', );
$motor-name: 'motor';
$motor-x: 24px;
$motor-y: 60px;
$motor-offset-x: -24px;
$motor-offset-y: -60px;
$motor-width: 18px;
$motor-height: 14px;
$motor-total-width: 122px;
$motor-total-height: 121px;
$motor-image: '../images/sprite.png';
$motor: (24px, 60px, -24px, -60px, 18px, 14px, 122px, 121px, '../images/sprite.png', 'motor', );
$odo-name: 'odo';
$odo-x: 37px;
$odo-y: 74px;
$odo-offset-x: -37px;
$odo-offset-y: -74px;
$odo-width: 18px;
$odo-height: 15px;
$odo-total-width: 122px;
$odo-total-height: 121px;
$odo-image: '../images/sprite.png';
$odo: (37px, 74px, -37px, -74px, 18px, 15px, 122px, 121px, '../images/sprite.png', 'odo', );
$photo-yellow-name: 'photo-yellow';
$photo-yellow-x: 79px;
$photo-yellow-y: 90px;
$photo-yellow-offset-x: -79px;
$photo-yellow-offset-y: -90px;
$photo-yellow-width: 15px;
$photo-yellow-height: 12px;
$photo-yellow-total-width: 122px;
$photo-yellow-total-height: 121px;
$photo-yellow-image: '../images/sprite.png';
$photo-yellow: (79px, 90px, -79px, -90px, 15px, 12px, 122px, 121px, '../images/sprite.png', 'photo-yellow', );
$photo-name: 'photo';
$photo-x: 64px;
$photo-y: 90px;
$photo-offset-x: -64px;
$photo-offset-y: -90px;
$photo-width: 15px;
$photo-height: 13px;
$photo-total-width: 122px;
$photo-total-height: 121px;
$photo-image: '../images/sprite.png';
$photo: (64px, 90px, -64px, -90px, 15px, 13px, 122px, 121px, '../images/sprite.png', 'photo', );
$sms-name: 'sms';
$sms-x: 88px;
$sms-y: 74px;
$sms-offset-x: -88px;
$sms-offset-y: -74px;
$sms-width: 16px;
$sms-height: 12px;
$sms-total-width: 122px;
$sms-total-height: 121px;
$sms-image: '../images/sprite.png';
$sms: (88px, 74px, -88px, -74px, 16px, 12px, 122px, 121px, '../images/sprite.png', 'sms', );
$tel-green-name: 'tel-green';
$tel-green-x: 108px;
$tel-green-y: 68px;
$tel-green-offset-x: -108px;
$tel-green-offset-y: -68px;
$tel-green-width: 11px;
$tel-green-height: 11px;
$tel-green-total-width: 122px;
$tel-green-total-height: 121px;
$tel-green-image: '../images/sprite.png';
$tel-green: (108px, 68px, -108px, -68px, 11px, 11px, 122px, 121px, '../images/sprite.png', 'tel-green', );
$tel-grey-name: 'tel-grey';
$tel-grey-x: 90px;
$tel-grey-y: 38px;
$tel-grey-offset-x: -90px;
$tel-grey-offset-y: -38px;
$tel-grey-width: 18px;
$tel-grey-height: 16px;
$tel-grey-total-width: 122px;
$tel-grey-total-height: 121px;
$tel-grey-image: '../images/sprite.png';
$tel-grey: (90px, 38px, -90px, -38px, 18px, 16px, 122px, 121px, '../images/sprite.png', 'tel-grey', );
$tel-name: 'tel';
$tel-x: 108px;
$tel-y: 18px;
$tel-offset-x: -108px;
$tel-offset-y: -18px;
$tel-width: 14px;
$tel-height: 14px;
$tel-total-width: 122px;
$tel-total-height: 121px;
$tel-image: '../images/sprite.png';
$tel: (108px, 18px, -108px, -18px, 14px, 14px, 122px, 121px, '../images/sprite.png', 'tel', );
$timer-green-name: 'timer-green';
$timer-green-x: 32px;
$timer-green-y: 90px;
$timer-green-offset-x: -32px;
$timer-green-offset-y: -90px;
$timer-green-width: 16px;
$timer-green-height: 16px;
$timer-green-total-width: 122px;
$timer-green-total-height: 121px;
$timer-green-image: '../images/sprite.png';
$timer-green: (32px, 90px, -32px, -90px, 16px, 16px, 122px, 121px, '../images/sprite.png', 'timer-green', );
$timer-name: 'timer';
$timer-x: 0px;
$timer-y: 90px;
$timer-offset-x: 0px;
$timer-offset-y: -90px;
$timer-width: 16px;
$timer-height: 16px;
$timer-total-width: 122px;
$timer-total-height: 121px;
$timer-image: '../images/sprite.png';
$timer: (0px, 90px, 0px, -90px, 16px, 16px, 122px, 121px, '../images/sprite.png', 'timer', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 30px;
$tw-offset-x: 0px;
$tw-offset-y: -30px;
$tw-width: 30px;
$tw-height: 30px;
$tw-total-width: 122px;
$tw-total-height: 121px;
$tw-image: '../images/sprite.png';
$tw: (0px, 30px, 0px, -30px, 30px, 30px, 122px, 121px, '../images/sprite.png', 'tw', );
$vk-name: 'vk';
$vk-x: 30px;
$vk-y: 0px;
$vk-offset-x: -30px;
$vk-offset-y: 0px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 122px;
$vk-total-height: 121px;
$vk-image: '../images/sprite.png';
$vk: (30px, 0px, -30px, 0px, 30px, 30px, 122px, 121px, '../images/sprite.png', 'vk', );
$www-grey-name: 'www-grey';
$www-grey-x: 19px;
$www-grey-y: 74px;
$www-grey-offset-x: -19px;
$www-grey-offset-y: -74px;
$www-grey-width: 18px;
$www-grey-height: 16px;
$www-grey-total-width: 122px;
$www-grey-total-height: 121px;
$www-grey-image: '../images/sprite.png';
$www-grey: (19px, 74px, -19px, -74px, 18px, 16px, 122px, 121px, '../images/sprite.png', 'www-grey', );
$yt-name: 'yt';
$yt-x: 0px;
$yt-y: 0px;
$yt-offset-x: 0px;
$yt-offset-y: 0px;
$yt-width: 30px;
$yt-height: 30px;
$yt-total-width: 122px;
$yt-total-height: 121px;
$yt-image: '../images/sprite.png';
$yt: (0px, 0px, 0px, 0px, 30px, 30px, 122px, 121px, '../images/sprite.png', 'yt', );
$spritesheet-width: 122px;
$spritesheet-height: 121px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left-grey, $arrow-right, $car-grey, $clock, $date-green, $exchange-sm, $exchange, $exit, $eye-green, $eye, $fb, $fuel, $geo-grey, $geo, $inst, $mail-green, $mail-grey, $mail-white, $mail, $money, $motor, $odo, $photo-yellow, $photo, $sms, $tel-green, $tel-grey, $tel, $timer-green, $timer, $tw, $vk, $www-grey, $yt, );
$spritesheet: (122px, 121px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
