/* *** ГЛАВНАЯ *** */
// Filter section
#filter {
	background-color: $green-light;
	padding: 30px 0;
}

.car-condition {
	margin-bottom: 25px;
	p {
		float: left;
		font-size: 20px;
		font-weight: bold;
	}
	ul {
		float: right;
		li {
			position: relative;
			display: inline-block;
			&:last-child {
				margin-left: 20px;
			}
			input[type=radio] {
				visibility: hidden;
				position: absolute;
				&:checked ~ .check {
					background-image: url('../images/checked.png');
				}
				& ~ .check {
					background-image: url('../images/unchecked.png');
				}
			}
			label {
				position: relative;
				padding-left: 20px;
				z-index: 10;
				font-size: 20px;
				font-weight: normal;
				cursor: pointer;
			}
			.check {
				position: absolute;
				z-index: 5;
				top: 6px;
				left: 0;
				width: 16px;
				height: 16px;
			}
		}
	}
}

//Select menu
.nice-select {
	border-radius: 0;
	border: 1px solid $grey;
	width: 250px;
	//background: linear-gradient(to right, #fff 83%, $grey 17%);
	background-image: url('../images/select-bg.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	padding-left: 10px;
	padding-right: 50px;
	span.current {
		color: $text-grey-light;
		font-size: 20px;
	}
	.list {
		border-radius: 0;
		border: 1px solid $grey;
		margin-top: 0;
		margin-left: -1px;
		width: 250px;
		max-height: 145px;
		overflow-y: auto;
		box-shadow: none;
		z-index: 1000;
		li {
			color: $text-grey-light;
			font-size: 20px;
			padding-left: 10px;
			padding-right: 20px;
			&:first-child {
				display: none;
			}
		}
	}
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: transparent;
	color: $black;
}

.nice-select .option.selected {
	font-weight: normal;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
	border: solid 1px $grey;
	box-shadow: none;
}

.nice-select .option {
	line-height: 35px;
	min-height: 35px;
}

.nice-select::after {
	right: 16px;
	top: 57%;
}
//End Select menu
.common-filter {
	margin-bottom: 25px;
	& > span {
		display: inline-block;
		font-size: 20px;
		padding-top: 7px;
	}
	.nice-select {
		float: right;
	}
}

.region-filter {
	& > span {
		margin-left: 27px;
	}
}

.year-filter {
	& > span {
		margin-left: 27px;
	}
}

.price-filter {
	& > span {
		margin-left: 23px;
	}
}

/*.brand-filter, .year-filter, .model-filter, .price-filter {
	.list {
		li:first-child {
			display: none;
		}
	}
}*/

.filter-group {
	width: 250px;
	float: right;
}

.filter-group-item {
	.nice-select {
		width: 105px;
		background: linear-gradient(to right, #fff 58%, $grey 42%);
		.list {
			width: 105px;
		}
	}
}

.price-filter {
	.filter-group-item {
		& > input {
			width: 60px;
			height: 42px;
			font-size: 12px;
			padding: 0 10px;
			color: $text-grey-light;
			border: 1px solid $grey;
			&:first-child {
				margin-right: 10px;
			}
			&::placeholder {
				color: $text-grey-light;
				opacity: 1;
				font-size: 20px;
			}
		}
	}
}

.filter-search-row {
	margin-top: 30px;
}

.search-extend-btn {
	text-align: right;
	margin-top: 7px;
	a {
		display: inline-block;
		position: relative;
		font-size: 18px;
		color: $text-grey-light;
		letter-spacing: .02em;
		border-bottom: 1px dashed $text-grey-light;
		transition: $transition;
		&:hover {
			color: $yellow;
			border-color: $yellow;
		}
		&::before {
			@extend .before;
			content: '\f1db';
			font-family: FontAwesome;
			font-size: 21px;
			top: -4px;
			left: -25px;
		}
		&::after {
			@extend .after;
			content: '\f067';
			font-family: FontAwesome;
			font-size: 10px;
			top: 3px;
			left: -20px;
		}
	}
}

.search-btn {
	a {
		@include buttons ($yellow, '', 20px, 40px);
		padding: 0 35px;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
}

//Section Most recent advert
.advert {
	display: block;
	border: 1px solid $grey;
	max-width: 250px;
	margin-bottom: 45px;
	transition: $transition;
	&:hover {
		box-shadow: $shadow;
	}
	&:hover .advert-photo img {
		transform: scale(1.2);
	}
}

.advert-photo {
	max-height: 200px;
	border-bottom: 1px solid $grey;
	overflow: hidden;
	img {
		transition: $transition;
	}
}

.advert-details {
	padding: 0 10px;
	h6 {
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		padding-top: 10px;
	}
	h5 {
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin: 15px 0;
		span {
			color: $green;
		}
	}
}

.characteristic {
	margin-top: 6px;
	li {
		display: block;
		float: left;
		//width: 33.3%;
		font-size: 14px;
		color: $text-grey;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		i {
			margin-right: 5px;
			vertical-align: top;
		}
	}
}

.geo {
	@extend .characteristic;
}

.tel {
	@extend .characteristic;
	li:first-child {
		margin-right: 40px;
		font-weight: bold;
	}
	li:last-child {
		color: $text-grey-light;
	}
}

.show-more-btn {
	text-align: center;
	a {
		@include buttons ($yellow, '', 20px, 40px);
		padding: 0 15px;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
}

//Section Advantages
#advantages {
	background-color: #f6f6f6;
	box-shadow: inset 0 3px 10px -10px $grey;
}

.advantages-item {
	padding: 40px 20px 0;
	background-color: #fff;
	text-align: center;
	max-width: 300px;
	min-height: 300px;
	margin-bottom: 25px;
	transition: $transition;
	cursor: default;
	h4 {
		font-size: 20px;
		letter-spacing: .02em;
		text-transform: uppercase;
	}
	img {
		margin: 20px 0;
	}
	p {
		font-size: 18px;
		color: $text-grey;
		letter-spacing: .02em;
	}
	&:hover {
		//transform: translate(10px,5px);
		transform:skew(2deg, 1deg);
	}
}

//Autonews Section
#autonews {
	background-image: url('../images/autonews_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	.section-title h2 {
		color: #fff;
	}
}

.details-item {
	display: block;
	text-align: center;
	height: 300px;
	width: 250px;
	position: relative;
	margin-bottom: 40px;
}

.details-item-photo {
	height: 50%;
	overflow: hidden;
}

.details-item-info {
	padding: 0 15px;
	background-color: #fff;
	height: 50%;
	h5 {
		font-size: 16px;
		letter-spacing: .02em;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 10px;
	}
	p {
		font-size: 14px;
		letter-spacing: .02em;
		color: $text-grey;
		line-height: 1;
		margin-top: 7px;
	}
	span {
		@include buttons ($green, '', 16px, 28px);
		text-transform: uppercase;
		font-weight: normal;
		padding: 0 20px;
		position: absolute;
		bottom: 12px;
		left: 40px;
		right: 40px;
		&:hover {
			@include buttons-hover ($yellow, 28px);
		}
	}
}

//Helpful information Section
#helpful-info {
	a.details-item:hover {
		border-color: $yellow;
	}
}

//ScrollTop button
.scrollToTop{
	width:70px; 
	height:70px;
	padding:10px; 
	text-align:center; 
	background: $green;
	position:fixed;
	bottom:20px;
	right:20px;
	font-size: 16px;
	color: #fff;
	line-height: 1;
	display: none;
	&:hover, &:focus {
		color: #fff;
	}
	span {
		font-size: 32px;
	}
}

/* *** Страница КАТАЛОГ ****/
//Offcanvas
.navbar-offcanvas {
	background-color: #fff;
	z-index: 100;
}
//End Offcanvas

.offcanvas-close {
	display: none;
	font-size: 16px;
	margin-bottom: 15px;
	color: $text-grey-light;
	i {
		margin-right: 7px;
	}
}

.refine-search-btn {
	text-align: center;
	a {
		@include buttons ($green, '', 18px, 40px);
		font-weight: normal;
		width: 135px;
	}
}

.refine-filter-btn {
	text-align: center;
	a {
		@include buttons ($green, '', 18px, 40px);
		font-weight: normal;
		width: 135px;
	}
}

//Catalog Sidebar
#sidebar-parameters {
	position: relative;
}

.sidebar-refine-parameters-form {
	h5 {
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		background-color: lighten($grey, 17%);
	}
}

.parameters-collapse {
	border-top: none;
	& > a {
		display: block;
		font-size: 18px;
		font-weight: bold;
		color: $text-grey;
		position: relative;
		margin-left: 15px;
		margin-right: 15px;
		padding: 10px 0;
		span {
			position: absolute;
			right: 7px;
			top: 50%;
		}
	}
}

.filter-open {
	color: $green !important;
	& > span {
		transform: rotate(180deg);
	}
	& + div.catalog-filter {
		display: block;
	}
}

.catalog-filter {
	//margin-bottom: 10px;
	padding: 0 15px;
	display: none;
	h6 {
		font-size: 18px;
	}
	& > ul li {
		margin-bottom: 7px;
	}
	input[type=text] {
		border: 1px solid #cecece;
		color: #7f7f7f;
		font-size: 15px;
		height: 25px;
		padding: 0 10px;
		margin-bottom: 10px;
		width: 100%;
		&::placeholder {
			color: $text-grey-light;
			opacity: 1;
		}
	}
	.nice-select {
		width: 100%;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		float: none;
		&::after {
			right: 7px;
		}
		span.current {
			font-size: 15px;
		}
		.list {
			width: calc(100% + 1px);
			li {
				font-size: 15px;
			}
		}
	}
}

.navbar-layer {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $green;
	opacity: .8;
	z-index: 50;
}

.advert-catalog {
	max-width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	cursor: default;
	.advert-photo {
		float: left;
		max-height: 250px;
		width: 33.3%;
	}
	.advert-details {
		position: relative;
		float: left;
		width: 66.6%;
		h6 {
			text-align: left;
			max-width: 80%;
		}
		h5 {
			text-align: left;
			span:last-child {
				font-size: 14px;
				font-weight: normal;
				color: $text-grey-light;
				text-transform: none;
			}
		}
		p {
			font-size: 14px;
			margin: 10px 0;
			width: 80%;
			text-align: justify;
		}
	}
	.characteristic {
		//width: 100%;
		li:last-child {
			float: right;
		}
	}
}

.timer {
	position: absolute;
	top: 10px;
	right: 10px;
	i {
		margin-right: 5px;
		vertical-align: top;
	}
	span {
		display: inline-block;
		font-size: 14px;
		color: $text-grey-light;
	}
}

.auction {
	border-bottom: $border;
	padding-bottom: 7px;
	li {
		display: inline-block;
		margin-right: 30px;
		font-size: 14px;
		color: $text-grey-light;
		&:last-child {
			margin-right: 0;
		}
		i {
			margin-right: 5px;
			vertical-align: middle;
			line-height: 24px;
		}
	}
}

.advert-contact {
	span {
		display: inline-block;
		font-size: 18px;
		margin-top: 10px;
		float: left;
		font-weight: bold;
	}
	a {
		display: inline-block;
		font-size: 18px;
		margin-top: 10px;
		float: right;
		color: #a5d488;
		&:hover {
			opacity: .7;
		}
	}
}

.search-form-wrapper + div {
	text-align: right;
	margin-top: -10px;
	a {
		display: inline-block;
		text-align: right;
		font-size: 14px;
		text-align: right;
		text-decoration: underline;
		margin-bottom: 10px;
		&:hover {
			text-decoration: none;
		}
	}
}

.color-select {
	li {
		display: block;
		float: left;
		margin-right: calc((100% - 18px * 8) / 7);
		width: 18px;
		height: 18px;
		box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4),0 4px 4px 0 rgba(0,0,0,0.4);
		cursor: pointer;
		&:nth-child(8n) {
			margin-right: 0;
		}
		&[data-color=red] {
			background-color: red;
		}
		&[data-color=green] {
			background-color: green;
		}
		&[data-color=blue] {
			background-color: blue;
		}
		&[data-color=black] {
			background-color: black;
		}
	}
}

.search-result-title {
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .02em;
		margin-right: 10px;
	}
}

.search-result-box {
	padding: 10px 15px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
	h5 {
		font-size: 18px;
		margin-bottom: 10px;
		span {
			font-weight: bold;
		}
	}
}

.search-result {
	& > li {
		float: left;
		font-size: 16px;
		//margin-right: 10px;
		width: 40%;
		&:last-child {
			float: right;
			width: auto;
		}
	}
}

.sort-by-price {
	float: none;
	display: inline-block;
	background-image: url('');
	width: auto;
	padding-right: 30px;
	height: auto;
	line-height: 1;
	border: none;
	background-color: transparent;
	&:focus {
		border: none;
	}
	&::after {
		color: $text-grey-light;
	}
	span.current {
		font-size: 16px;
	}
	.list {
		width: auto;
		li {
			font-size: 14px;
		}
	}
}

.check-item {
	position: relative;
	input[type=checkbox], input[type=radio] {
		visibility: hidden;
		position: absolute;
		&:checked ~ .check {
			background-image: url('../images/checked.png');
		}
		& ~ .check {
			background-image: url('../images/unchecked.png');
		}
	}
	label {
		position: relative;
		padding-left: 20px;
		z-index: 10;
		//font-size: 20px;
		font-size: 16px;
		font-weight: normal;
		cursor: pointer;
	}
	.check {
		position: absolute;
		z-index: 5;
		top: 1px;
		left: 0;
		width: 16px;
		height: 16px;
	}
}

.sort-with-photo {
	label {
		font-size: 16px;
		padding-left: 25px;
		i {
			line-height: 16px;
			vertical-align: middle;
		}
	}
	.check {
		top: 4px;
	}
}

.catalog-filter {
	.search-form-left-2 {
		float: left;
		width: 47%;
	}
	.search-form-right-2 {
		float: right;
		width: 47%;
	}
	.search-form-left-3 {
		float: left;
		width: 29%;
		margin-right: 12px;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
	.search-form-right-3 {
		float: right;
		width: 29%;
	}
}

#neighboring-region {
	& + label {
		font-size: 16px;
		margin-bottom: 10px;
	}
	& ~ .check {
		top: 2px;
	}
}

/*.state-check, .type-of-drive-radio {
	li {
		margin-bottom: 7px;
	}
}*/


.color-check {
	& + label {
		margin-bottom: 10px;
	}
}

.form-submit-group {
	border-top: none;
	padding: 40px 15px;
	input[type=submit] {
		@include buttons ($green, '', 18px, 40px);
		border: none;
		width: 100%;
		margin-bottom: 10px;
		font-weight: normal;
		&:hover {
			@include buttons-hover ($yellow, 40px);
		}
	}
	input[type=reset] {
		@include buttons ($grey, '', 18px, 40px);
		color: $black;
		border: none;
		width: 100%;
		font-weight: normal;
		&:hover {
			@include buttons-hover (tomato, 40px);
		}
	}
}

.advert-label-new {
	position: relative;
	&::after {
		@extend .after;
		background-image: url('../images/label_new.png');
		background-repeat: no-repeat;
		height: 30px;
		width: 100%;
		top: 10px;
		left: 10px;
	}
}

.advert-label-interest {
	@extend .advert-label-new;
	&::after {
		background-image: url('../images/label_interest.png');
	}
}

.advert-label-quickly {
	@extend .advert-label-new;
	&::after {
		background-image: url('../images/label_quickly.png');
	}
}

/* *** Страница Расширенный поиск *** */
//Section Extended-Search-Type
#extended-search-type {
	background-color: $section-grey;
}

#ttTabs {
	border-bottom: 1px solid #eeecec;
	margin-top: 10px;
	li {
		width: calc(100% / 9);
		&.active > a {
			border: 1px solid #eeecec;
			border-bottom-color: transparent;
		}
		a {
			display: block;
			padding: 0;
			border-radius: 0;
			text-align: center;
			padding: 25px 0 20px;
			margin-right: 0;
			i {
				font-size: 40px;
				color: $text-grey;
			}
			p {
				margin-top: 25px;
				font-size: 18px;
			}
			&:hover i {
				color: $yellow;
			}
		}
	}
}

.tt-content {
	background-color: #fff;
	border: 1px solid #eeecec;
	border-top: none;
	padding: 20px;
}

.tb-item {
	margin-top: 25px;
	//margin-left: 30px;
	label {
		font-size: 17px;
		color: $text-grey;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		i {
			color: $grey;
			margin: 0 5px;
			font-size: 24px;
			vertical-align: top;
			width: 89px;
		}
	}
	.check {
		top: 4px;
	}
}

//Section Extended-Search-Manufacturer
.enter-check-item {
	background-color: $section-grey;
	padding: 15px;
	border: 1px solid #eeecec;
	margin-top: 15px;
	& > input {
		width: 100%;
		//line-height: 28px;
		//height: 30px;
		line-height: 1;
		vertical-align: middle;
		border: 1px solid $grey;
		padding: 6px 10px;
		font-size: 15px;
		letter-spacing: .02em;
		color: $text-grey;
	}
}

.enter-check-input-wrapper {
	input {
		width: 45%;
		line-height: 1;
		vertical-align: middle;
		border: 1px solid $grey;
		padding: 6px 10px;
		font-size: 15px;
		letter-spacing: .02em;
		color: $text-grey;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}

.enter-check-item-list {
	margin-top: 20px;
	max-height: 175px;
	//overflow-y: auto;
	li {
		margin-top: 10px;
		&:first-child {
			label {
				color: $text-grey-light;
			}
		}
	}
}

.manufacturer-item {
	label {
		padding-left: 30px;
		font-size: 18px;
	}
	.check {
		top: 3px;
	}
	h6 {
		font-weight: bold;
		font-size: 18px;
	}
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #ccc !important;
	border-radius: 0;
}

.mCSB_scrollTools {
	width: 6px;
}

//Section Cost
.extended-search-price-wrapper {
	max-width: 450px;
	margin-top: 15px;
}

.extended-search-price {
	& > li {
		float: left;
		margin: 0 13px 10px;
		p {
			font-size: 18px;
			margin-top: 3px;
		}
		input {
			width: 100px;
			line-height: 1;
			vertical-align: middle;
			border: 1px solid $grey;
			padding: 6px 10px;
			font-size: 15px;
			letter-spacing: .02em;
			color: $text-grey-light;
			&::placeholder {
				color: $text-grey-light;
				opacity: 1;
				font-size: 15px;
			}
		}
		.nice-select {
			float: none;
			width: 100px;
			height: 29px;
			line-height: 29px;
			&::after {
				right: 10px;
				top: 59%;
			}
			span {
				font-size: 15px;
				color: $text-grey-light;
			}
			.list {
				width: 100px;

			}
		}
	}
}

.extended-search-price-check {
	li {
		margin-top: 10px;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}

//Section Region
#extended-search-region {
	background-color: $section-grey;
}

.extended-search-region-left {
	float: left;
	width: 50%;
	.enter-check-item {
		border: 0;
		border-right: $border;
		padding: 0 30px;
		.enter-check-item-list li:first-child label {
			color: inherit;
		}
	}
}

.extended-search-region-right {
	float: right;
	width: 50%;
	.enter-check-item {
		border: 0;
		padding: 0 30px;
		p {
			text-align: center;
			font-size: 14px;
			color: $text-grey-light;
			margin-top: 90px;
		}
	}
}

//Section State
.search-state {
	margin-bottom: 20px;
	& > li {
		display: block;
		float: left;
		width: 25%;
		border-right: $border;
		border-bottom: $border;
		&:nth-child(4n) {
			border-right: none;
		}
		&:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
			border-bottom: none;
		}
	}
}

.search-state-item {
	padding: 20px;
	h6 {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	ul li {
		display: inline-block;
		margin-top: 10px;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.state-bottom-item {
	margin-top: 5px;
	margin-left: 40px;
	label {
		font-size: 13px;
		color: $text-grey-light;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.check {
		top: 0;
	}
}

.state-select {
	margin-top: 10px;
	float: none;
	width: 100%;
	height: 29px;
	line-height: 29px;
	&::after {
		right: 10px;
	}
	span.current {
		font-size: 15px;
	}
	.list {
		li {
			display: block;
		}
	}
}

//Section TTH
#extended-search-tth {
	background-color: $section-grey;
}

.tth-left {
	margin-top: 20px;
	float: left;
	width: 50%;
	padding: 0 30px;
	h6 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

.tth-check-list {
	margin-bottom: 20px;
	li {
		display: block;
		width: 150px;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

.tth-right {
	float: right;
	width: 50%;
	margin-top: 20px;
	padding: 0 30px;
	border-left: $border;
	h6 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 3px;
	}
	& > div {
		//margin-bottom: 10px;
	}
}

.extended-search-tth {
	@extend .extended-search-price;
	li {
		margin-left: 0;
		& > span {
			font-size: 14px;
			line-height: 30px;
			color: $text-grey-light;
		}
	}
}

.tth-color-select {
	width: 215px !important;
	.list {
		width: 215px !important;
	}
}

//Section extended-search Bottom
.extended-search-bottom-security {
	background-color: $section-grey;
	border: $border;
	padding: 20px;
	height: 280px;
	margin-bottom: 10px;
	ul {
		margin-top: 15px;
		li {
			display: block;
			float: left;
			width: 250px;
			margin-top: 5px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.extended-search-bottom-comfort {
	@extend .extended-search-bottom-security;
	ul li {
		width: 170px;

	}
}

.extended-search-bottom-multimedia {
	@extend .extended-search-bottom-security;
	height: auto;
}

.extended-search-bottom-other {
	@extend .extended-search-bottom-security;
	height: auto;
}

.form-btn-submit {
	width: 400px;
	padding: 40px 0;
	input {
		border: none;
		&[type="submit"] {
			float: left;
			padding: 0 70px;
			@include buttons ($yellow, '', 20px, 40px);
			&:hover {
				@include buttons-hover ($green, 40px);
			}
		}
		&[type="reset"] {
			float: right;
			display: inline-block;
			font-size: 18px;
			color: #7f7f7f;
			letter-spacing: .02em;
			border-bottom: 1px dashed #7f7f7f;
			transition: all ease 0.3s;
			padding-top: 7px;
			background-color: transparent;
			&:hover {
				color: $yellow;
				border-color: $yellow;
			}
		}
	}
}

/* *** СТРАНИЦА 2 *** */
.my-account-btn {
	@extend .refine-search-btn;
}

.account-sidebar-menu {
	border: $border;
	li {
		height: 50px;
		font-size: 18px;
		&:first-child {
			background-color: $green;
			pointer-events: none;
		}
		h5 {
			font-size: 20px;
			color: #fff;
			font-weight: bold;
			text-align: center;
			line-height: 50px;
		}
		a {
			display: block;
			line-height: 50px;
			border-top: $border;
			color: $text-grey;
			&:hover {
				background-color: $green-light;
				color: $black;
			}
			i {
				vertical-align: middle;
				margin: 0 10px;
			}
		}
	}
}

.account-sidebar-btns {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	a {
		@include buttons ($green, '../images/plus-btn.png', 16px, 45px);
		color: #fff;
		text-transform: uppercase;
		width: 100%;
		margin-top: 10px;
		font-weight: normal;
		background-position: 15px center;
		&:hover {
			@include buttons-hover ($yellow, 45px);
		}
		&:first-child {
			@include buttons ($yellow, '../images/plus-btn.png', 16px, 45px);
			font-weight: normal;
			&:hover {
				@include buttons-hover ($green, 45px);
			}
		}
	}
}

#ad-type-main {
	.page-title {
		padding-top: 0;
		h2 {
			font-size: 28px;
		}
	}
	.ad-type-wrapper:nth-child(3) {
		border-top: none;
		border-bottom: none;
	}
}

.ad-type-wrapper {
	border: $border;
	display: table;
	width: 100%;
}

.ad-type-left {
	display: table-cell;
	width: 75%;
	border-right: $border;
	padding: 15px 0;
	padding-left: 120px;
	h6 {
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: .02em;
		margin-right: 10px;
		margin-left: -40px;
	}
	& > a {
		font-weight: normal;
		font-size: 14px;
		color: $text-grey-light;
	}
	p {
		font-size: 18px;
		color: $text-grey;
		margin: 15px 0 5px;
	}
	.common-filter {
		margin: 0;
		.nice-select {
			float: none;
			border: $border;
		}
	}
}

.ad-type-right {
	display: table-cell;
	width: 25%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	p {
		font-size: 25px;
		line-height: 1;
	}
	a {
		@include buttons ($green, '', 22px, 40px);
		font-weight: normal;
		text-transform: uppercase;
		padding: 0 20px;
		margin-top: 20px;
		&:hover {
			@include buttons-hover ($yellow, 40px);
		}
	}
}

.ad-type-check-list {
	li {
		display: inline-block;
		margin-right: 30px;
		margin-bottom: 10px;
		&:last-child {
			margin: 0;
		}
		label img {
			margin-left: 3px;
		}
		.check {
			top: 7px;
		}
	}
}

.search-place {
	p {
		display: inline-block;
	}
	& > div:first-child {
		float: left;
	}
	& > div:last-child {
		float: right;
		margin-right: 15px;
		.nice-select {
			width: 150px;
			.list {
				width: 149px;
			}
		}
	}
}

/* *** СТРАНИЦА МОИ СТО *** */
#my-sto-main {
	.section-title h2 {
		text-transform: none;
	}
}

.my-ad-block-common {
	margin-bottom: 20px;
}

.my-ad-block-common-top {
	border-bottom: $border;
	background-color: $section-grey;
	padding: 10px;
	& > ul > li {
		display: block;
		float: left;
		&:first-child a {
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 1px dashed $black;
			padding-top: 4px;
			margin-right: 30px;
			&:hover {
				opacity: .7;
			}
		}
		&:last-child {
			float: right;
		}
		p {
			font-size: 18px;
			margin-top: 6px;
			//display: inline-block;
			line-height: 1.1;
			/*text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;*/
		}
	}	
}

.select-compact {
	margin-bottom: 0;
	& > span {
		font-size: 16px;
		margin-right: 10px;
		padding-top: 4px;
	}
	.nice-select {
		width: 200px;
		height: 30px;
		line-height: 30px;
		&::after {
			right: 10px;
		}
		& > span {
			font-size: 16px;
		}
		.list {
			width: 200px;
			& > li {
				font-size: 16px;
			}
		}
	}
}

.pay-box {
	span {
		font-size: 20px;
		line-height: 30px;
		margin-right: 20px;
	}
	a {
		@include buttons ($yellow, '', 18px, 30px);
		font-weight: normal;
		width: 130px;
		text-align: center;
		&:hover {
			@include buttons-hover ($green, 30px);
		}
	}
}

.my-ad-compact-content {
	padding: 10px;
}

.my-ad-compact-content-left {
	float: left;
	position: relative;
	width: 220px;
	height: 130px;
	overflow: hidden;
	margin-right: 10px;
}

.paid {
	&::before {
		@extend .before;
		top: 10px;
		left: 10px;
		background-image: url('../images/paid.png');
		background-repeat: no-repeat;
		width: calc(100% - 20px);
		height: 30px;
		z-index: 10;
	}
}

.not-paid {
	@extend .paid;
	&::before {
		background-image: url('../images/not-paid.png');
	}
}

.my-ad-compact-content-right {
	position: relative;
	h6 {
		font-size: 19px;
		letter-spacing: .02em;
		margin-bottom: 7px;
	}
	p {
		font-size: 15px;
		letter-spacing: .02em;
		color: $text-grey;
	}
	ul {
		li {
			display: inline-block;
			margin-top: 7px;
			margin-right: 15px;
			font-size: 16px;
			&:last-child {
				margin-right: 0;
			}
			i {
				margin-right: 3px;
			}
		}
	}
	.btn-group {
		position: absolute;
		top: 10px;
		right: 0;
		a {
			@include buttons ($green, '', 18px, 30px);
			display: block;
			width: 130px;
			font-weight: normal;
			text-align: center;
			margin-bottom: 10px;
			&:last-child {
				@include buttons ($red, '', 18px, 30px);
				margin-bottom: 0;
				font-weight: normal;
			}
			&:hover {
				@include buttons-hover ($yellow, 30px);
			}
		}
	}
}

p.published {
	color: $green;
	font-size: 16px;
	margin-bottom: 7px;
}

p.not-published {
	@extend p.published;
	color: $red;
}

#my-sto-form {
	max-width: 520px;
	.section-title {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	label {
		@include clearfix;
		width: 100%;
		margin-bottom: 10px;
		font-size: 17px;
		font-weight: normal;
		line-height: 35px;
		span {
			color: $yellow;
		}
		input, textarea {
			float: right;
			height: 35px;
			width: 290px;
			border-radius: 0;
			border: $border;
			background-color: $section-grey;
			line-height: 1.2;
			font-size: 14px;
			padding: 5px 10px;
			box-sizing: border-box;
		}
		input[type="file"] {
			padding: 0;
			background-color: transparent;
			border: none;
		}
		textarea {
			width: 290px !important;
			height: 95px;
			resize: none;
		}
	}
	.add-field {
		text-align: right;
		margin-bottom: 10px;
		margin-right: 123px;
		a {
			display: inline-block;
			font-size: 16px;
			text-transform: uppercase;
			color: $yellow;
			img {
				vertical-align: middle;
				margin-right: 5px;
			}
			&:hover {
				opacity: .7;
			}
		}
	}
	p {
		font-size: 17px;
		color: $text-grey;
		text-align: center;
		margin-bottom: 10px;
		line-height: 1.2;
	}
	.common-filter {
		p {
			display: inline-block;
			font-size: 17px;
			font-weight: normal;
			line-height: 35px;
			color: inherit;
			margin-bottom: 0;
			span {
				color: $yellow;
			}
		}
		.nice-select {
			height: 35px;
			line-height: 35px;
			border: $border;
			background-color: $section-grey;
			width: 290px;
			.list {
				width: 290px;
				border: $border;
			}
			& > span {
				font-size: 17px;
				color: $black;
			}
			&::after {
				right: 12px;
			}
		}
	}
	input[type="submit"] {
		@include buttons ($yellow, '../images/plus-btn.png', 17px, 45px);
		display: block;
		width: 170px;
		margin: 0 auto;
		margin-top: 20px;
		border: none;
		font-weight: normal;
		text-transform: uppercase;
		background-position: 10px center;
		&:hover {
			@include buttons-hover ($green, 45px);
		}
	}
}

/* *** Страница АРХИВ *** */
#my-archive-main {
	.my-ad-block-common {
		border-bottom: $border;
	}
	.my-ad-compact-content-right {
		h6 span {
			font-size: 14px;
			color: $text-grey-light;
		}
		h5 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			margin: 5px 0;
			span {
				color: $green;
			}
		}
		p {
			line-height: 1.5;
			i {
				vertical-align: top;
			}
		}
		ul {
			position: relative;
			&::before {
				@extend .before;
				top: 2px;
				left: 232px;
				border-top: 1px dashed #e6e6e6;
				width: 330px;
			}
		}
	}
	.btn-group {
		@include clearfix;
		width: calc((130px + 6px) * 2);
		right: -13px;
		top: 34px;
		a {
			float: left;
			margin: 3px;
			&:nth-child(1), &:nth-child(2) {
				@include buttons ($btn-grey, '', 18px, 30px);
				font-weight: normal;
			}
			&:hover {
				@include buttons-hover ($yellow, 30px);
			}
		}
	}
}

.sell-out {
	&::before {
		@extend .before;
		bottom: 5px;
		right: 5px;
		background-image: url('../images/sales.png');
		background-repeat: no-repeat;
		background-position: right center;
		width: calc(100% - 20px);
		height: 56px;
		z-index: 10;
	}
}

/* *** Страница МОИ ДАННЫЕ *** */
#my-data {
	.section-title h2 {
		text-transform: none;
	}
}

#my-data-form {
	@extend #my-sto-form;
	.my-data-check-list li {
		float: right;
	}
	.check-item {
		width: 290px;
		label {
			line-height: 1.1;
		}
		.check {
			top: 1px;
		}
	}
}

/* ***  Страница МОИ ПЛАТЕЖИ *** */
#my-payments {
	.section-title h2 {
		text-transform: none;
	}
}

.my-payments-table {
	text-align: center;
	font-size: 15px;
	white-space: nowrap;
	.table-bordered > thead > tr > th {
		border-bottom-width: 1px;
		vertical-align: middle;
		text-align: center;
		font-weight: normal;
		background-color: $section-grey;
	}
	.table > tbody > tr > td {
		vertical-align: middle;
	}
	.table-img {
		overflow: hidden;
		img {
			width: 220px;
			height: 130px;
		}
	}
}

/* *** Страница МОИ ОБЪЯВЛЕНИЯ *** */
#my-ad-main {
	.section-title h2 {
		text-transform: none;
	}
	@extend #my-archive-main;
	.my-ad-compact-content-right ul::before {
		width: 280px;
	}
	.pay-box a {
		width: 270px;
		font-size: 16px;
	}
	.btn-group {
		right: -3px;
		top: 24px;
		a {
			&:nth-child(3), &:nth-child(4) {
				@include buttons ($btn-grey, '', 18px, 30px);
				font-weight: normal;
			}
			&:hover {
				@include buttons-hover ($yellow, 30px);
			}
		}
	}
}

/* *** Страница МОИ АВТОРАЗБОРКИ *** */
#my-razborka-main {
	.section-title h2 {
		text-transform: none;
	}
}

#my-razborka-form {
	@extend #my-sto-form;
}

/* *** Поиск СТО *** */
#sto-search {
	.page-title {
		padding: 0;
		margin: 20px 0;
		h2 {
			float: left;
			line-height: 40px;
		}
		a {
			float: right;
			@include buttons ($yellow, '../images/plus-btn.png', 18px, 40px);
			width: 200px;
			text-align: center;
			background-position: 15px center;
			font-weight: normal;
			&:hover {
				@include buttons-hover ($green, 40px);
			}
		}
	}
}

#sto-search-form {
	padding: 20px 10px;
	background-color: $section-grey;
}

.sto-search-form-select-item {
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
	& > span {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: .02em;
	}
	.nice-select {
		width: 100%;
		float: none;
		span.current {
			font-size: 16px;
		}
		.option {
			font-size: 16px;
		}
		.list {
			width: calc(100% + 2px);
		}
	}
	input[type="submit"] {
		@include buttons ($green, '', 20px, 42px);
		width: 100%;
		border: none;
		margin-top: 26px;
		font-weight: normal;
		&:hover {
			@include buttons-hover ($yellow, 42px);
		}
	}
}

.sto-search-main-content {
	padding: 20px 10px;
	margin-top: 20px;
}

.sto-search-main-item {
	.block-title {
		text-align: left;
		margin-bottom: 15px;
	}
	p {
		font-size: 14px;
		letter-spacing: .02em;
	}
	ul {
		margin: 15px 0;
		li {
			font-weight: bold;
			color: $text-grey-light;
			font-size: 16px;
			margin-top: 5px;
			i {
				margin-right: 5px;
				vertical-align: baseline;
			}
			span {
				color: $black;
				font-weight: normal;
			}
		}
	}
	img {
		float: right;
	}
}

a.sto-search-main-btn {
	@include buttons ($yellow, '../images/sms.png', 16px, 35px);
	width: 210px;
	text-align: center;
	font-weight: normal;
	background-position: 10px center;
	&:hover {
		@include buttons-hover ($green, 35px);
	}
}

//STO Search Popup Form
.sto-search-popup {
	.section-title {
		margin-bottom: 15px;
		h2 {
			text-transform: none;
		}
	}
	background-image: url('../images/form-bg.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	input[type="submit"] {
		@include buttons ($yellow, '', 15px, 40px);
		display: block;
		border: none;
		text-align: center;
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		font-weight: normal;
		letter-spacing: .02em;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
}

.popup-form-container {
	max-width: 530px;
	color: $text-grey;
	label {
		display: block;
		float: left;
		width: calc(530px / 3 - 7px);
		margin-right: 10px;
		font-size: 15px;
		font-weight: normal;
		span {
			color: $yellow;
		}
		&:last-child {
			margin-right: 0;
		}
		& > input {
			display: block;
			border: 1px solid #c7c7c7;
			width: 100%;
			height: 40px;
			padding: 0 5px;
			background-color: #ededed;
			opacity: .8;
		}
	}
	& + label {
		display: block;
		max-width: 530px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		font-size: 15px;
		font-weight: normal;
		color: $text-grey;
		textarea {
			width: 100%;
			height: 80px;
			display: block;
			resize: none;
			border: 1px solid #c7c7c7;
			background-color: #ededed;
			opacity: .8;
			line-height: 1.2;
			padding: 5px;
		}
	}
}

/* *** Страница ВХОД/РЕГИСТРАЦИЯ *** */
#login-registration {
	background-image: url('../images/registration-bg.jpg');
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: left bottom;
	h4 {
		font-weight: bold;
		font-size: 19px;
		text-align: center;
		margin-bottom: 40px;
		margin-top: 20px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

.login-section {
	padding: 25px 0 100px;
	border-right: $border;
	margin-right: -15px;
	//background-color: yellow;
}

#login-form {
	& > label {
		@include clearfix;
		width: 100%;
		margin-bottom: 10px;
		font-size: 17px;
		font-weight: normal;
		line-height: 40px;
		span {
			color: $yellow;
		}
		input {
			display: block;
			float: right;
			border: $border;
			border-radius: 0;
			width: 300px;
			background-color: $section-grey;
			padding: 0 10px;
			margin-right: 84px;
		}
	}
	& > input[type="submit"] {
		@include buttons ($yellow, '', 17px, 40px);
		display: block;
		width: 170px;
		border: none;
		font-weight: normal;
		letter-spacing: .02em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
	& > div {
		text-align: center;
		a {
			display: inline-block;
			font-size: 15px;
			font-weight: bold;
			margin-top: 5px;
			&:hover {
				color: $red;
			}
		}
	}
}

.registration-section {
	padding-top: 25px;
	h4 {
		margin-bottom: 20px;
	}
}

#registration-form {
	padding-left: 80px;
	@extend #login-form;
	label {
		input {
			margin-right: 0;
		}
	}
	p:last-child {
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		margin: 10px 0;
		a {
			color: $green;
			&:hover {
				color: $yellow;
			}
		}
	}
}

.registration-form-select {
	margin-bottom: 10px;
	p {
		float: left;
		font-size: 17px;
		font-weight: normal;
		line-height: 40px;
		span {
			color: $yellow;
		}
	}
	.registration-form-select-wrapper {
		float: right;
		width: 300px;
	}
	.nice-select {
		float: none;
		width: 100%;
		border: $border;
		background-color: $section-grey;
		.list {
			width: 100%;
		}
		span.current {
			font-size: 17px;
			color: $black;
		}
	}
}

.registration-form-check-list {
	margin-left: 176px;
	li {
		margin-bottom: 10px;
	}
	.check-item {
		label {
			line-height: 1.2;
		}
		.check {
			top: 0px;
		}
	}
}

/* *** Страница ДОБАВИТЬ ОБЪЯВЛЕНИЕ *** */
#add-ad {
	.section-title h2 {
		text-transform: none;
	}
}

.add-ad-security, .add-ad-comfort {
	@extend .extended-search-bottom-security;
	padding: 10px 0;
	height: auto;
	min-height: 310px;
	margin-bottom: 0;
	margin-top: 10px;
	ul li {
		width: calc(100% / 2 - 20px);
		margin: 0 10px;
	}
	.check-item {
		label {
			font-size: 14px;
			@include text-nowrap();
		}
	}
}

.add-ad-multimedia, .add-ad-other {
	@extend .add-ad-security;
	height: auto;
	min-height: auto;
}

.add-ad-info {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 20px;
	.block-title {
		margin-bottom: 20px;
	}
	&::after {
		@extend .after;
		top: 0;
		bottom: 15px;
		right: -15px;
		border-right: $border;
	}
}

.add-ad-info-select {
	margin-bottom: 5px;
	p {
		float: left;
		font-size: 17px;
		margin-top: 4px;
		span {
			color: $yellow;
		}
	}
	p + div {
		float: right;
		.nice-select {
			height: 30px;
			line-height: 30px;
			border: $border;
			span.current {
				font-size: 15px;
			}
			.list {
				border: $border;
				.option {
					font-size: 17px;
					line-height: 25px;
					min-height: 25px;
				}
			}
			&::after {
				right: 10px;
			}
		}
	}
}

.add-ad-info-input {
	label {
		display: block;
		font-size: 17px;
		font-weight: normal;
		margin-bottom: 5px;
		line-height: 30px;
		span {
			color: $yellow;
		}
		input {
			float: right;
			display: block;
			width: 250px;
			height: 30px;
			font-size: 15px;
			border: $border;
			color: $text-grey-light;
			padding: 0 10px;
		}
	}
}

.add-ad-info-input-odo {
	@extend .add-ad-info-input;
	position: relative;
	label {
		input {
			width: 170px;
			margin-right: 80px;
		}
	}
	&::after{
		position: absolute;
		content: "тыс. км";
		right: 0;
		top: 3px;
		font-size: 17px;
	}
}

.add-ad-info-input-price {
	p {
		float: left;
		font-size: 17px;
		line-height: 30px;
		span {
			color: $yellow;
		}
	}
}

.add-ad-field-group {
	float: right;
	width: 250px;
	input {
		float: left;
		width: 170px;
		height: 30px;
		font-size: 15px;
		border: $border;
		color: $text-grey-light;
		padding: 0 10px;
	}
	& > div {
		float: right;
		.nice-select {
			width: 70px;
			height: 30px;
			line-height: 30px;
			border: $border;
			span.current {
				font-size: 15px;
			}
			.list {
				border: $border;
				width: 70px;
				.option {
					font-size: 17px;
					line-height: 25px;
					min-height: 25px;
				}
			}
			&::after {
				right: 10px;
			}
		}
	}
}

.add-ad-check-group {
	ul {
		width: 250px;
		float: right;
		margin-top: 30px;
		li {
			margin-top: 10px;
			color: $text-grey-light;
			i {
				vertical-align: middle;
				margin: 0 3px;
			}
			.check {
				top: 3px;
			}
		}
	}
}

.add-ad-photo {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	.block-title {
		margin-bottom: 20px;
	}
}

.add-ad-upload {
	margin-bottom: 10px;
	h4 {
		float: left;
		font-size: 17px;
	}
	h4 + div {
		float: right;
		width: 250px;
		input[type="file"] {
			cursor: pointer;
			font-size: 14px;
			margin-bottom: 15px;
			width: 250px;
		}
		p {
			font-size: 14px;
			font-style: italic;
			color: $text-grey-light;
			line-height: 1.1;
		}
	}
}

.img-upload {
	display: block;
	margin-top: 10px;
	li {
		position: relative;
		display: block;
		float: left;
		width: 60px;
		margin-right: calc((100% - 60px * 6) / 5);
		margin-bottom: 10px;
		&:nth-child(6n) {
			margin-right: 0;
		}
		img {
			display: block;
		}
		a {
			display: block;
			font-size: 12px;
			color: $text-grey;
			text-align: center;
			line-height: 1;
			background-color: #ebebeb;
			&:hover {
				opacity: .7;
			}
		}
	}
}

.img-remove-btn {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	background-color: $red;
	text-align: center;
	i {
		color: #fff;
		font-size: 12px;
	}
}

.add-ad-color {
	margin: 10px 0;
	p {
		float: left;
		font-size: 17px;
	}
	p + div {
		float: right;
		width: 250px;
		position: relative;
	}
}

.add-ad-color-right {
	.check-item {
		label {
			color: $text-grey-light;
			font-size: 17px;
		}
		.check {
			top: 3px;
		}
	}
}

.add-ad-color-select-btn {
	font-size: 17px;
	color: $text-grey-light;
	span:first-child {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #e3e3e3;
		margin-right: 5px;
		border: 1px solid #4f4f4f;
		position: relative;
		top: 3px;
	}
	&:focus {
		color: $text-grey-light;
	}
}

.add-ad-color-select {
	@extend .color-select;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	background-color: #fff;
	display: none;
	z-index: 20;
	li {
		margin-bottom: 7px;
	}
}

.add-ad-info-input-engine {
	@extend .add-ad-info-input-odo;
	label input {
		width: 220px;
		margin-right: 30px;
	}
	&::after {
		content: 'л';
	}
}

.add-ad-info-input-fuel {
	margin-bottom: 10px;
	p {
		float: left;
		font-size: 17px;
		margin-top: 4px;
	}
	p + div {
		float: right;
		width: 250px;
		input {
			float: left;
			width: 55px;
			border: $border;
			margin-right: 5px;
			height: 30px;
			font-size: 15px;
			color: $text-grey-light;
			padding: 0 5px;
		}
		span {
			float: right;
			display: inline-block;
			font-size: 15px;
			margin-top: 4px;
		}
	}
}

.detailed-description {
	margin: 30px 0;
	.block-title {
		margin-bottom: 20px;
	}
	h5 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: $text-grey-light;
		line-height: 1.1;
		margin-left: 20px;
	}
	span {
		display: inline-block;
		font-size: 18px;
		color: $text-grey-light;
		margin: 10px 0;
	}
	textarea {
		padding: 10px;
		border: $border;
		width: 100%;
		height: 130px;
		resize: none;
		font-size: 16px;
		color: $text-grey-light;
		line-height: 1;
	}
	& + input[type="submit"] {
		@include buttons ($yellow, '', 18px, 50px);
		display: block;
		border: none;
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		&:hover {
			@include buttons-hover ($green, 50px);
		}
	}
}

/* *** Страница КАРТОЧКА *** */
.breadcrumbs-nav {
	margin: 20px 0;
	& > a {
		@include buttons (#ededed, '', 15px, 30px);
		border: $border;
		color: $text-grey-light;
		font-weight: normal;
		padding: 0 10px;
		letter-spacing: .02em;
		i {
			margin-right: 5px;
		}
		&:hover {
			opacity: .7;
		}
	}
	.breadcrumb {
		display: inline-block;
		margin-bottom: 0;
		background-color: transparent;
		li {
			font-size: 18px;
			letter-spacing: .02em;
			color: $text-grey;
			& + li::before {
				content: '>';
				color: $text-grey;
				padding: 0 10px;
			}
		}
		& > .active {
			color: $yellow;
		}
	}
}

.card-title {
	h3 {
		font-size: 30px;
		font-weight: bold;
		a {
			font-size: 18px;
			color: $grey;
			vertical-align: middle;
		}
		span {
			color: $text-grey-light;
		}
		img {
			vertical-align: top;
		}
	}
}

.photo-full {
	width: 100%;
	& > div {
		max-width: 780px;
		max-height: 445px;
		overflow: hidden;
		position: relative;
		&::before {
			@extend .before;
			top: 10px;
			left: 10px;
			width: 238px;
			height: 57px;
			background-image: url('../images/logo-label.png');
			z-index: 100;
		}
	}
	.slick-prev {
		position: absolute;
		top: calc(50% - 30px);
		padding: 0 4px;
		left: 0;
		z-index: 200;
		height: 60px;
		width: 30px;
		border: none;
		background-color: rgba(255, 255, 255, 0.6);
		i {
			font-size: 46px;
			color: $yellow;
		}
		&:hover {
			opacity: .8;
		}
	}
	.slick-next {
		position: absolute;
		top: calc(50% - 30px);
		padding: 0 4px;
		right: 0;
		z-index: 200;
		height: 60px;
		width: 30px;
		border: none;
		background-color: rgba(255, 255, 255, 0.6);
		i {
			font-size: 46px;
			color: $yellow;
		}
		&:hover {
			opacity: .8;
		}
	}
}

.photo-thumb {
	& > div {
		cursor: pointer;
	}
	.slick-slide {
		outline: none;
		img {
			border: 2px solid transparent;
		}
	}
	.slick-current {
		//border-color: $yellow;
		img {
			border: 2px solid $yellow;
		}
	}
	.slick-prev {
		position: absolute;
		top: calc(50% - 30px);
		padding: 0 4px;
		left: 0;
		z-index: 200;
		height: 100%;
		width: 30px;
		border: none;
		background-color: rgba(255, 255, 255, 0.6);
		i {
			font-size: 46px;
			color: $yellow;
		}
		&:hover {
			opacity: .8;
		}
	}
	.slick-next {
		position: absolute;
		top: calc(50% - 30px);
		padding: 0 4px;
		right: 0;
		z-index: 200;
		height: 100%;
		width: 30px;
		border: none;
		background-color: rgba(255, 255, 255, 0.6);
		i {
			font-size: 46px;
			color: $yellow;
		}
		&:hover {
			opacity: .8;
		}
	}
}



//Gallery Popup
.gallery-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: calc(780px + 40px + 25px);
	margin: 20px auto;
	height: 90vh;
	overflow: hidden;
}

.gallery-popup-title {
	margin-bottom: 10px;
	p {
		font-size: 18px;
		font-weight: bold;
		float: left;
		margin-right: 15px;
		&:nth-child(1) {
			span {
				color: $text-grey;
			}
		}
		&:nth-child(2) {
			color: $green
		}
		&:nth-child(4) {
			font-weight: normal;
		}
		&:nth-child(5) {
			margin-right: 0;
		}
	}
}

.photo-thumb-modal {
	margin-right: 25px;
	& > div {
		width: 100px;
		float: left;
		margin-bottom: 10px;
		//margin-right: calc((100% - 100px * 7) / 6);
		margin-right: 10px;
		border: 2px solid transparent;
	}
}

.photo-full-modal {
	overflow-y: auto;
	position: relative;
	&::before {
		@extend .before;
		top: 10px;
		left: 10px;
		width: 238px;
		height: 57px;
		background-image: url('../images/logo-label.png');
		z-index: 100;
	}
}

.photo-full-modal-item {
	margin-top: 10px;
	max-width: 780px;
	max-height: 445px;
	overflow: hidden;
	&:first-child {
		margin-top: 0;
	}
}

.show-all-photo {
	a {
		display: inline-block;
		font-size: 18px;
		margin: 8px 0 3px;
		color: $yellow;
		i {
			vertical-align: middle;
			margin-right: 5px;
		}
		&:hover {
			color: $green;
		}
	}
}

.card-info {
	h2 {
		position: relative;
		font-size: 35px;
		color: $green;
		font-weight: bold;
		@include clearfix;
		span {
			color: $black;
			//margin-left: 15px;
			float: right;
		}
		&::after {
			@extend .after;
			content: '(1 у.е. = 00,00)';
			font-size: 14px;
			color: $text-grey-light;
			right: 0;
			bottom: -15px;
			font-weight: normal;
		}
	}
	h5 {
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 10px;
		span {
			font-weight: bold;
		}
	}
	h6 {
		font-size: 16px;
		color: $text-grey-light;
		margin-top: 5px;
		i {
			vertical-align: baseline;
		}
	}
}

.card-phone {
	border-top: 1px dashed $grey;
	border-bottom: 1px dashed $grey;
	margin: 25px 0;
	padding: 10px 0;
	p {
		font-size: 20px;
	}
	span {
		font-size: 23px;
		font-weight: bold;
		display: block;
		line-height: 1.1;
	}
}

.card-contact {
	a:first-child  {
		@include buttons ($yellow, '', 20px, 45px);
		font-size: 20px;
		width: 290px;
		text-align: center;
		i {
			vertical-align: middle;
		}
		&:hover {
			@include buttons-hover ($green, 45px);
		}
	}
	ul li {
		display: inline-block;
		margin-top: 20px;
		font-size: 20px;
		margin-right: 20px;
		span {
			color: $green;
		}
		i {
			vertical-align: middle;
		}
	}
	ul + a {
		display: block;
		width: 290px;
		font-size: 20px;
		color: $text-grey;
		border: 1px solid $text-grey;
		text-align: center;
		padding: 7px 0;
		margin: 20px 0;
		&:hover {
			opacity: .7;
		}
	}
	a:last-child {
		display: inline-block;
		font-size: 20px;
		margin-top: 7px;
		&:hover {
			opacity: .7;
		}
	}
}

.card-description {
	margin-top: 20px;
	h3 {
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	p {
		font-size: 17px;
		letter-spacing: .02em;
	}
	& > div {
		p:first-child {
			float: left;
			font-weight: bold;
			width: 160px;
		}
		p:last-child {
			float: left;
		}
	}
	article {
		font-size: 17px;
		letter-spacing: .02em;
		margin: 15px 0;
	}
	h4 {
		font-size: 25px;
		font-weight: bold;
		border-bottom: $border;
		padding-bottom: 20px;
	}
}

#card-form {
	max-width: 510px;
	margin-top: 20px;
	margin-bottom: 20px;
	h6 {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
	}
	div {
		input {
			width: 47%;
			border: $border;
			padding: 5px;
			font-size: 15px;
			color: $text-grey-light;
			background-color: $section-grey;
			margin-bottom: 7px;
			&:first-child {
				float: left;
			}
			&:last-child {
				float: right;
			}
		}
	}
	textarea {
		height: 70px;
		width: 100%;
		border: $border;
		padding: 5px;
		font-size: 15px;
		color: $text-grey-light;
		background-color: $section-grey;
		resize: none;
		margin-bottom: 15px;
		line-height: 1;
	}
	input[type="submit"] {
		@include buttons ($green, '', 18px, 35px);
		display: block;
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		border: none;
		&:hover {
			@include buttons-hover ($yellow, 35px);
		}
	}
}

.chat-post {
	padding: 10px 0;
	h6 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 7px;
		span {
			color: $text-grey-light;
			margin-left: 10px;
		}
	}
	p {
		display: inline-block;
		font-size: 18px;
		border-bottom: $border;
		padding-bottom: 10px;
	}
	&:last-child p {
		border-bottom: none;
	}
}

.viewed-ads {
	border: $border;
	background-color: $section-grey;
	padding-top: 20px;
	h4 {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 15px;
	}
}

.viewed-ad {
	margin: 20px 0;
	display: block;
	img {
		display: block;
		float: left;
		margin: 0 10px;
	}
	&:hover {
		opacity: .9;
	}
	h6 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	p {
		font-size: 16px;
		color: $text-grey;
	}
	h5 {
		font-size: 24px;
		font-weight: bold;
		margin-top: 15px;
		color: $green;
		text-align: left;
	}
}

.model-line-wrapper {
	background-color: $section-grey;
	margin-top: 20px;
	padding: 15px 0;
}

.model-line-title {
	h5 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
}

.model-line {
	li {
		margin-top: 10px;
		a {
			font-size: 16px;
			color: $text-grey;
			line-height: 1;
			&:hover {
				opacity: .7;
			}
		}
	}
}

.card-send-message, .card-report-message {
	@extend .sto-search-popup;
	background-image: url('../images/form-bg-2.jpg');
	background-position: left bottom;
}

/* *** Страница РЕГИСТРАЦИЯ *** */
#registration {
	background-image: url('../images/registration-2-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	.section-title {
		margin-bottom: 0;
		h2 {
			text-transform: none;
		}
	}
	.registration-section {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}

.popup-success {
	.section-title {
		margin-bottom: 20px;
		h2 {
			text-transform: none;
		}
	}
	p {
		font-size: 18px;
		color: $text-grey;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 10px;
		b {
			color: $black;
		}
	}
	h6 {
		text-align: center;
		font-size: 18px;
		color: $yellow;
		margin-top: 20px;
		font-weight: bold;
	}
	div {
		margin-top: 30px;
		a {
			@include buttons ($green, '', 16px, 45px);
			display: block;
			width: 200px;
			float: left;
			font-weight: normal;
			text-transform: uppercase;
			text-align: center;
			margin-right: calc((100% - 200px * 3) / 2);
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				@include buttons-hover ($yellow, 45px);
			}
		}
	}
}