/* *** ГЛАВНАЯ *** */
// Filter section
#filter {
	background-color: $green-light;
	padding: 30px 0;
}

.car-condition {
	margin-bottom: 25px;
	p {
		float: left;
		font-size: 20px;
		font-weight: bold;
	}
	ul {
		float: right;
		li {
			position: relative;
			display: inline-block;
			&:last-child {
				margin-left: 20px;
			}
			input[type=radio] {
				visibility: hidden;
				position: absolute;
				&:checked ~ .check {
					background-image: url('../images/checked.png');
				}
				& ~ .check {
					background-image: url('../images/unchecked.png');
				}
			}
			label {
				position: relative;
				padding-left: 20px;
				z-index: 10;
				font-size: 20px;
				font-weight: normal;
				cursor: pointer;
			}
			.check {
				position: absolute;
				z-index: 5;
				top: 6px;
				left: 0;
				width: 16px;
				height: 16px;
			}
		}
	}
}

//Select menu
.nice-select {
	border-radius: 0;
	border: 1px solid $grey;
	width: 250px;
	//background: linear-gradient(to right, #fff 83%, $grey 17%);
	background-image: url('../images/select-bg.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	padding-left: 10px;
	padding-right: 50px;
	span.current {
		color: $text-grey-light;
		font-size: 20px;
	}
	.list {
		border-radius: 0;
		border: 1px solid $grey;
		margin-top: 0;
		margin-left: -1px;
		width: 250px;
		max-height: 145px;
		overflow-y: auto;
		box-shadow: none;
		li {
			color: $text-grey-light;
			font-size: 20px;
			padding-left: 10px;
			padding-right: 20px;
			&:first-child {
				display: none;
			}
		}
	}
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
	background-color: transparent;
	color: $black;
}

.nice-select .option.selected {
	font-weight: normal;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
	border: solid 1px $grey;
	box-shadow: none;
}

.nice-select .option {
	line-height: 35px;
	min-height: 35px;
}

.nice-select::after {
	right: 16px;
	top: 57%;
}
//End Select menu
.common-filter {
	margin-bottom: 25px;
	& > span {
		display: inline-block;
		font-size: 20px;
		padding-top: 7px;
	}
	.nice-select {
		float: right;
	}
}

.region-filter {
	& > span {
		margin-left: 27px;
	}
}

.year-filter {
	& > span {
		margin-left: 27px;
	}
}

.price-filter {
	& > span {
		margin-left: 23px;
	}
}

/*.brand-filter, .year-filter, .model-filter, .price-filter {
	.list {
		li:first-child {
			display: none;
		}
	}
}*/

.filter-group {
	width: 250px;
	float: right;
}

.filter-group-item {
	.nice-select {
		width: 105px;
		background: linear-gradient(to right, #fff 58%, $grey 42%);
		.list {
			width: 105px;
		}
	}
}

.price-filter {
	.filter-group-item {
		& > input {
			width: 60px;
			height: 42px;
			font-size: 12px;
			padding: 0 10px;
			color: $text-grey-light;
			border: 1px solid $grey;
			&:first-child {
				margin-right: 10px;
			}
			&::placeholder {
				color: $text-grey-light;
				opacity: 1;
				font-size: 20px;
			}
		}
	}
}

.filter-search-row {
	margin-top: 30px;
}

.search-extend-btn {
	text-align: right;
	margin-top: 7px;
	a {
		display: inline-block;
		position: relative;
		font-size: 18px;
		color: $text-grey-light;
		letter-spacing: .02em;
		border-bottom: 1px dashed $text-grey-light;
		transition: $transition;
		&:hover {
			color: $yellow;
			border-color: $yellow;
		}
		&::before {
			@extend .before;
			content: '\f1db';
			font-family: FontAwesome;
			font-size: 21px;
			top: -4px;
			left: -25px;
		}
		&::after {
			@extend .after;
			content: '\f067';
			font-family: FontAwesome;
			font-size: 10px;
			top: 3px;
			left: -20px;
		}
	}
}

.search-btn {
	a {
		@include buttons ($yellow, '', 20px, 40px);
		padding: 0 35px;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
}

//Section Most recent advert
.advert {
	display: block;
	border: 1px solid $grey;
	max-width: 250px;
	margin-bottom: 45px;
	transition: $transition;
	&:hover {
		box-shadow: $shadow;
	}
	&:hover .advert-photo img {
		transform: scale(1.2);
	}
}

.advert-photo {
	max-height: 200px;
	border-bottom: 1px solid $grey;
	overflow: hidden;
	img {
		transition: $transition;
	}
}

.advert-details {
	padding: 0 10px;
	h6 {
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		padding-top: 10px;
	}
	h5 {
		font-size: 20px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin: 15px 0;
		span {
			color: $green;
		}
	}
}

.characteristic {
	margin-top: 6px;
	li {
		display: block;
		float: left;
		//width: 33.3%;
		font-size: 14px;
		color: $text-grey;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		i {
			margin-right: 5px;
			vertical-align: top;
		}
	}
}

.geo {
	@extend .characteristic;
}

.tel {
	@extend .characteristic;
	li:first-child {
		margin-right: 40px;
		font-weight: bold;
	}
	li:last-child {
		color: $text-grey-light;
	}
}

.show-more-btn {
	text-align: center;
	a {
		@include buttons ($yellow, '', 20px, 40px);
		padding: 0 15px;
		&:hover {
			@include buttons-hover ($green, 40px);
		}
	}
}

//Section Advantages
#advantages {
	background-color: #f6f6f6;
	box-shadow: inset 0 3px 10px -10px $grey;
}

.advantages-item {
	padding: 40px 20px 0;
	background-color: #fff;
	text-align: center;
	max-width: 300px;
	min-height: 300px;
	margin-bottom: 25px;
	transition: $transition;
	cursor: default;
	h4 {
		font-size: 20px;
		letter-spacing: .02em;
		text-transform: uppercase;
	}
	img {
		margin: 20px 0;
	}
	p {
		font-size: 18px;
		color: $text-grey;
		letter-spacing: .02em;
	}
	&:hover {
		//transform: translate(10px,5px);
		transform:skew(2deg, 1deg);
	}
}

//Autonews Section
#autonews {
	background-image: url('../images/autonews_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	.section-title h2 {
		color: #fff;
	}
}

.details-item {
	display: block;
	text-align: center;
	height: 300px;
	width: 250px;
	position: relative;
	margin-bottom: 40px;
}

.details-item-photo {
	height: 50%;
	overflow: hidden;
}

.details-item-info {
	padding: 0 15px;
	background-color: #fff;
	height: 50%;
	h5 {
		font-size: 16px;
		letter-spacing: .02em;
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 10px;
	}
	p {
		font-size: 14px;
		letter-spacing: .02em;
		color: $text-grey;
		line-height: 1;
		margin-top: 7px;
	}
	span {
		@include buttons ($green, '', 16px, 28px);
		text-transform: uppercase;
		font-weight: normal;
		padding: 0 20px;
		position: absolute;
		bottom: 12px;
		left: 40px;
		right: 40px;
		&:hover {
			@include buttons-hover ($yellow, 28px);
		}
	}
}

//Helpful information Section
#helpful-info {
	a.details-item:hover {
		border-color: $yellow;
	}
}

//ScrollTop button
.scrollToTop{
	width:70px; 
	height:70px;
	padding:10px; 
	text-align:center; 
	background: $green;
	position:fixed;
	bottom:20px;
	right:20px;
	font-size: 16px;
	color: #fff;
	line-height: 1;
	display: none;
	&:hover, &:focus {
		color: #fff;
	}
	span {
		font-size: 32px;
	}
}

/* *** Страница КАТАЛОГ ****/
//Offcanvas
.navbar-offcanvas {
	background-color: #fff;
	z-index: 10;
}
//End Offcanvas

.offcanvas-close {
	display: none;
	font-size: 16px;
	margin-bottom: 15px;
	color: $text-grey-light;
	i {
		margin-right: 7px;
	}
}

.refine-search-btn {
	text-align: center;
	a {
		@include buttons ($green, '', 18px, 40px);
		font-weight: normal;
		width: 135px;
	}
}

.refine-filter-btn {
	text-align: center;
	a {
		@include buttons ($green, '', 18px, 40px);
		font-weight: normal;
		width: 135px;
	}
}

//Catalog Sidebar
#sidebar-parameters {
	position: relative;
}

.sidebar-refine-parameters-form {
	h5 {
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		padding: 10px 0;
		background-color: lighten($grey, 17%);
	}
}

.parameters-collapse {
	border-top: none;
	& > a {
		display: block;
		font-size: 18px;
		font-weight: bold;
		color: $text-grey;
		position: relative;
		margin-left: 15px;
		margin-right: 15px;
		padding: 10px 0;
		span {
			position: absolute;
			right: 7px;
			top: 50%;
		}
	}
}

.filter-open {
	color: $green !important;
	& > span {
		transform: rotate(180deg);
	}
	& + div.catalog-filter {
		display: block;
	}
}

.catalog-filter {
	//margin-bottom: 10px;
	padding: 0 15px;
	display: none;
	.nice-select {
		width: 100%;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		float: none;
		&::after {
			right: 7px;
		}
		span.current {
			font-size: 15px;
		}
		.list {
			width: calc(100% + 2px);
			li {
				font-size: 15px;
			}
		}
	}
}

.navbar-layer {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $green;
	opacity: .8;
	z-index: 5;
}

.advert-catalog {
	max-width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	&:hover {
		box-shadow: none;
		border-color: $yellow;
	}
	.advert-photo {
		float: left;
		max-height: 250px;
		width: 33.3%;
	}
	.advert-details {
		position: relative;
		float: left;
		width: 66.6%;
		h6 {
			text-align: left;
		}
		h5 {
			text-align: left;
			span:last-child {
				font-size: 14px;
				font-weight: normal;
				color: $text-grey-light;
				text-transform: none;
			}
		}
		p {
			font-size: 14px;
			margin: 10px 0;
			width: 80%;
			text-align: justify;
		}
	}
	.characteristic {
		//width: 100%;
		li:last-child {
			float: right;
		}
	}
}

.timer {
	position: absolute;
	top: 10px;
	right: 10px;
	i {
		margin-right: 5px;
		vertical-align: top;
	}
	span {
		display: inline-block;
		font-size: 14px;
		color: $text-grey-light;
	}
}

.auction {
	border-bottom: $border;
	padding-bottom: 7px;
	li {
		display: inline-block;
		margin-right: 30px;
		font-size: 14px;
		color: $text-grey-light;
		&:last-child {
			margin-right: 0;
		}
		i {
			margin-right: 5px;
			vertical-align: middle;
			line-height: 24px;
		}
	}
}

.advert-contact {
	span {
		display: inline-block;
		font-size: 18px;
		margin-top: 10px;
		&:first-child {
			float: left;
			font-weight: bold;
		}
		&:last-child {
			float: right;
			color: #a5d488;
			&:hover {
				opacity: .7;
			}
		}
	}
}

.search-result-title {
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .02em;
		text-align: center;
		margin-top: 10px;
	}
}

.search-result-box {
	padding: 10px 15px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
	h5 {
		font-size: 18px;
		margin-bottom: 10px;
		span {
			font-weight: bold;
		}
	}
}

.search-result {
	& > li {
		float: left;
		font-size: 16px;
		//margin-right: 10px;
		width: 40%;
		&:last-child {
			float: right;
			width: auto;
		}
	}
}

.sort-by-price {
	float: none;
	display: inline-block;
	background-image: url('');
	width: auto;
	padding-right: 30px;
	height: auto;
	line-height: 1;
	border: none;
	background-color: transparent;
	&:focus {
		border: none;
	}
	&::after {
		color: $text-grey-light;
	}
	span.current {
		font-size: 16px;
	}
	.list {
		width: auto;
		li {
			font-size: 14px;
		}
	}
}