$black: #2f2f2f;
$yellow: #ffaa17;
$green: #6faa4b;
$green-light: #edf7e8;
$grey: #cecece;
$text-grey: #5c5c5c;
$text-grey-light: #7f7f7f;
$transition: all ease 0.3s;
$shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
$border: 1px solid #e6e6e6;
$section-grey: #f9f9f9;
$section-grey-light: #f7f7f7;